*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'gilroy';
    background-color: #F8F8F8;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    padding: 0.1px;
}
#nav{
    width: 100%;
    height: 10vh;
    /* background-color: blueviolet; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vh;
    position: relative;
    
}
#nav h3{
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.7vw;
    font-weight: 100;
    position: relative;
}
#nav h1{
    width: 20%;
    height: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    letter-spacing: -1px;
    font-size: 5vh;
}
#nav h3:nth-last-child(1){
    width: 10%;
    border: none;
}
#nav h3:nth-last-child(2){
    width: 25%;
    
}
#center{
    width: 100%;
    height: 90vh;
    background-color: #F8F8F8;
    padding: 5vh 8vh;
    padding-bottom: 8vh;
    position: relative;
    
    
}
#content{
    width: 100%;
    height: 100%;
    background-color: bisque;
    position: relative;
}
#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#overlay{
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0;
    padding: 1vh;
    padding-left: 7vh;
    padding-right: 3vw;
    /* background-color: antiquewhite; */
}
#overlay-p1{
    color: white;
    display: flex;
    justify-content: space-between;

}
#overlay h1{
    font-family: monument;
    font-size: 7vh; 
    line-height: 9vh; 
}
#overlay h2{
    border: 2px solid white;
    font-size:7vw ;
    height: 70%;
    padding-top: 1vh;
    border-radius: 50%;
    font-weight: 50;
}
#overlay-p2{
    display: flex;
    justify-content: space-between;
    font-size: 5vh;
    color: white;
    padding-top: 2vh;
}

#scrollbar{
    width: 100%;
    height: 40vh;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 8vh;
    
}
#scrollbar img{
    /* display: none; */
    height: 100%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30% 30%;
    margin: 1vw;
    
    
}
#container{
    height: 100%;
    width: 120%;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    margin-bottom: 2vh;
    
   
}
@keyframes anime {
    from{
        transform: translateX(0%) ;
    }
    to{
        transform: translateX(-100%);
    }
    
}
#alphabets{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    margin-bottom: 4vh;
}
#alphabets h5{
    font-size: 2vw;
    font-style: italic;
    font-weight: 100;
    text-decoration: underline;

}
#alphabets h6{
    font-size: 1vw;
    font-style: initial;
    font-weight: 100;
    border: 0.1vw solid black;
    border-radius: 50%;
    padding: 5px;

}
#page2{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 3vh;

}
#left{
    width: 60%;
    height: 100%;
    padding: 4vh;
}
#left img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    object-position: 0% 40%;
    border-radius: 10%;
}
#left h1{
    padding: 2vh;
    text-align: left;

}
#right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4vh;

}
#right img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: 0% 20%;
    border-radius: 10%;
}
#right-bottom{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
#right-bottom h6{
    font-size: 1.25vw;
    font-weight: 600;
    padding-top: 2vh;
    width: fit-content;
    text-align: left;
    text-transform: capitalize;
    width: 55%;

}
#right-bottom p{
    padding-top: 2vh;
    font-size: 1vw;
    font-weight: 300;
    text-align: left;
    width: 50%;
}

#page3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5vh;
}
#page3left{
    width: 40%;
    height: 100%;
    position: relative;
}
#page3left img{
    width: 100%;
    height: 80%; 
    padding-bottom: 3vh;  

}
#page3left h6{
    font-size: 1.5vw;
    text-align: left;
    width:50%;
    position: absolute;
    left: 25%;
    bottom: 1%;
    padding: 1vh;
    

}
#page3right{
    width: 60%;
}
#page3right img{
    width: 85%;
    height: 100%;
    border-radius: 5%;
}
#page4{
    width: 100%;
    height: 100vh;
    /* background-color: bisque; */
    padding: 6vh;

}
#page4 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#update{
    width: 100%;
    height: 10vh;
    /* background-color: aquamarine; */
    text-align: center;
    font-family: monument;
    font-size: 2.5vh;
    letter-spacing: 0.2vw;
    padding: 2vh;
    font-weight: 100;
    margin-bottom: 4vh;
}
#page4-2{
    width: 100%;
    height: 80vh;
    /* background-color: bisque; */
    padding: 6vh;

}
.elem{
    height: 15vh;
    width: 100%;
    border-top: 0.2vw solid black;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: aqua; */
}
.elem .elem-part1{
    font-size: 4vh;
    /* padding-top: 4vh;
    padding-bottom: 4vh; */
}  
.elem .elem-part2{
    width: 40%;
    /* padding-top:    4vh;
    padding-bottom: 4vh; */
}
.elem .elem-part2 h2{
    font-size: 1.9vw;
    /* margin-bottom: 1vh; */
}
.elem .elem-part2 h6{
    font-size: 1vw;
     /* margin-bottom: 1vh; */
} 

.elem:nth-last-child(1){
    height: 16vh;
    border-bottom: 0.2vw solid black;
}
#page5{
    width: 100%;
    height: 80vh;
}
.elem img{
    width: 10vw;
    height: 11vh;
    object-fit: cover;
    object-position: 0% 40%;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    opacity: 0;
    transition: all ease 0.7s;

}
.elem:hover img{
    opacity: 1;
    left: 30%;

}
#page5{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
    padding-top: 14vh;
}
#page5-p1{
    width: 40%;
    height: 100%;
    padding: 3vh;
}
#page5-p1 img{
    width: 95%;
    height: 110%;
    object-fit: cover;
    
}
#page5-p2{
    width: 60%;
    height: 100%;
    padding: 3vh;
    display: flex;
    flex-direction: column;
}
#page5-p2 h1{
    font-family: monument;
    padding: 2vh;
    font-size: 5vh;
}
#page5-p2 h4{
    width: 40%;
    padding-left: 2vh;
    font-size: 3vh;
    font-weight: 400;
}
#page5-p2 p{
    width: 100%;
    padding-left: 2vh;
    padding-top: 2vh;
    font-size: 2vh;
    font-weight: 400;
}
#page5-img{
    width: 100%;
    height: 59vh;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: beige; */
}
#page5-img img{
    width: 95%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 5vh;
}
#page6-p1{
    width: 100%;
    height: 120vh;
    padding: 5vh;
    padding-top: 15vh;
    padding-right: 7vh;

}
#page6-p1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 30%;
}
#page6-p2{
    width: 100%;
    height: 140vh;
    padding: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#p6-left{
    width: 50%;
    height: 100%;
    padding: 2vh;
}
#p6-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#p6-right{
    width: 50%;
    height: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    
#p6-right-top{
    width: 100%;
    height: 80% ;
    padding: 2vh;
}
#p6-right img{
    width: 100%;
    height: 85%;
    
    
}
#p6-right-bottom{
    width: 100%;
    height: 20%;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#p6-right-bottom h5{
    width: 50%;
    text-align: left;
    padding-left: 2vh;
    font-size: 3vh;
    font-weight: 400;
}
#p6-right-bottom p{
    width: 100%;
    padding-left: 2vh;
    text-align: left;
    font-size: 2vh;
    font-weight: 400;
}

#page7-p1{
    width: 100%;
    border-top: 0.4vh solid black;
    border-bottom: 0.4vh solid black;
    /* background-color: aquamarine; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#page7-p1 h1{
    display: inline-block;
    font-family: monument;
    font-weight: 900;
    font-size: 4vw;
    letter-spacing: 0.8vw;
    text-transform: capitalize;
    -webkit-text-stroke: 0.3vh rgb(150, 50, 50);
    color: transparent;
    letter-spacing: 0.2vw;
    margin-right: 5vw;
    animation-name: anime2;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes anime2 {
    from{
        transform: translateX(0%) ;
    }
    to{
        transform: translateX(calc(-100%));
    }
    
}

#page7-p2{
    width: 100%;
    height: 110vh;
    padding: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#p7-p2-1{
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 3vh;

}
#p7-p2-2{
    width: 40%;
    height: 100%;
}
#p7-p2-2 img{
    width: 100%;
    height: 100%;
    padding: 5vh;
    object-fit: cover;

}

#p7-p2-2 h5{
    width: 95%;
    height: 10%;
    padding-top: 2vh;
    padding-left: 5vh;
    font-size: 2.5vh;
    font-weight: 700;

}
#p7-p2-3{
    width: 40%;
    height: 100%;
}
#p7-p2-3 img{
    width: 100%;
    height: 100%;
    padding-top: 5vh;
    padding-left: 9vh;
    padding-right: 9vh;
    padding-bottom: 5vh;
}
#p7-p2-3 h5{
    width: 90%;
    height: 10%;
    padding-top: 2vh;
    padding-left: 8vh;
    text-align: left;
    font-size: 2.5vh;
    font-weight: 700;
}
#footer{
    width: 100%;
    height: 30vh;
    font-size: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    padding-left: 5vh;
    margin-top: 10vw;
    margin-bottom: 15vw;
    overflow: hidden;
}
#footer h3{
  
    width: 25%;
    height: 100%;
    border-right: 0.5vh solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.7vw;
    font-weight: 100;
    position: relative;
}
#footer h1{
    width: 20%;
    height: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    letter-spacing: -1px;
}
#footer h3:nth-last-child(1){
    width: 15%;
    border: none;
}
#footer-p2{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
#footer-p2 h3{
    width: 100%;
    padding-left: 8vh;
    border-bottom: 0.5vh solid black;
    margin-bottom: 3vh;
    text-align: left;
    font-size: 3.9vh;
    padding-right: 5vh;

}
#last{
    padding: 2vh;
    font-size: 2.5vh;
}
#space{
    width: 100%;
    height: 5vh;
}